# Ignore node_modules folder
app/node_modules/
# Ignore VS Code settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
# Ignore the dist files
app/dist/*
# Ignore prep data folder except the states.json file
prep/data/csv/*
prep/data/shape/egrid_*
prep/result/*
!prep/data/shape/states.json
